# Imported modules from fastapi import FastAPI, File, UploadFile, from fastapi.responses import FileResponse, import os, zipfile, tabula

fastapi[all]
uvicorn
tabula-py
pandas
openpyxl
xlwt
xlrd
pyexcel
pyexcel-xls
pyexcel-xlsx
docx2pdf