#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#formButton {
  :hover {
    background-color: rgba(185,28,28,0.98);
  }
}

#normalOption {
  display: block;
}

#nonAcceptedOption {
  display: none;
}